<div *ngIf="errors.somethingIsBroken.statusCode">Something is broken</div>

<div class="wrapper">
  <div class="overlay" *ngIf="isListRefreshing" style="height: 300px;">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div [class.opacity]="isListRefreshing">
  <div *ngIf="dataSource?.data && dataSource.data.length > 0">
    <!-- Search filter -->
    <!-- @TODO -->

    <mat-table [dataSource]="dataSource">

      <!-- Campaign Status column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>
          Status
        </mat-header-cell>
        <mat-cell *matCellDef="let campaign;">
          {{ campaign.requestStatus.name }}
        </mat-cell>
      </ng-container>

      <!-- Campaign Name column -->
      <ng-container matColumnDef="campaignName">
        <mat-header-cell *matHeaderCellDef>
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let campaign;">
          {{ campaign.campaignName }}
        </mat-cell>
      </ng-container>

      <!-- Campaign Type column -->
      <ng-container matColumnDef="advice">
        <mat-header-cell *matHeaderCellDef>
          Type
        </mat-header-cell>
        <mat-cell *matCellDef="let campaign;">
          {{ campaign.advice ? 'Advice' : 'Request' }}
        </mat-cell>
      </ng-container>

      <!-- Campaign Brand column -->
      <ng-container matColumnDef="brand">
        <mat-header-cell *matHeaderCellDef>
          Brand
        </mat-header-cell>
        <mat-cell *matCellDef="let campaign;">
          {{ campaign.brand.name }}
        </mat-cell>
      </ng-container>

      <!-- Campaign Submission date column -->
      <ng-container matColumnDef="submittedDate">
        <mat-header-cell *matHeaderCellDef>
          Submission
        </mat-header-cell>
        <mat-cell *matCellDef="let campaign;">
          {{ campaign.submittedDate }}
        </mat-cell>
      </ng-container>

      <!-- Header and Row Declaration -->
      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>
      <mat-row *matRowDef="let campaign; columns: displayedColumns;">
      </mat-row>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row subscription-row matNoDataRow" *matNoDataRow>
        <td class="subscription-cell">No data.</td>
      </tr>

    </mat-table>
  </div>
</div>
