.title {
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 30px;
}

.wrapper {
  min-height: 500px;
}

.search {
  width: 300px;
  margin-right: 20px;
}

.campaigns-table {
  margin-top: -20px;

  .mat-cell,
  .mat-header-cell {
    &.status {
      flex: inherit;
      width: 120px;
    }
  }

  .mat-cell,
  .mat-header-cell {
    &.campaignName {
      @media screen and (min-width: 700px) {
        flex:inherit;
        width: 300px;
      }
    }

    &.submittedDate {
      @media screen and (max-width: 699px) {
        display: none;
      }
    }
  }

  .mat-header-row.campaign {
    border: none;
  }

  .mat-row.campaign {
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: aliceblue;

    &:last-child {
      margin-bottom: inherit;
    }

    .mat-cell {
      &.status {
        > div {
          flex-direction: column;
          justify-content: center;
          height: 30px;
          display: flex;
          align-items: center;
          border-right: 1px solid lightgrey;
          width: 100%;
          margin-right: 10px;
        }
      }

      &.advice div {
        padding: 2px 5px;
      }

      &.flex-end {
        justify-content: flex-end;
      }
    }
  }
}
