<div class="title">
  All requests
</div>

<!-- In case something is broken -->
<campaign-test-something-is-broken *ngIf="errors.somethingIsBroken.statusCode"
                                  [statusCode]="errors.somethingIsBroken.statusCode"
                                  [statusMessage]="errors.somethingIsBroken.statusMessage">
</campaign-test-something-is-broken>

<div class="wrapper">
  <div class="overlay" *ngIf="isListRefreshing">
    <mat-spinner></mat-spinner>
  </div>

  <div [class.opacity]="isListRefreshing">
    <div *ngIf="dataSource?.data && dataSource.data.length > 0" @fadeInOutAnimation>
      <!-- Search filter -->
      <mat-form-field class="search" appearance="fill">
        <mat-label>Search by name or brand... (CTRL + F)</mat-label>
        <input matInput type="text" [(ngModel)]="campaignService.searchInput" (keyup)="applySearch()" #searchInputRef>
        <button mat-button *ngIf="campaignService.searchInput" matSuffix mat-icon-button aria-label="Clear"
                (click)="campaignService.searchInput = ''; applySearch();">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- Brand filter -->
      <mat-form-field appearance="fill">
        <mat-label>- Brand -</mat-label>
        <mat-select [(ngModel)]="campaignService.selectedBrand" (selectionChange)="applySearch();">
          <mat-option>Toutes</mat-option>
          <mat-option *ngFor="let brand of campaignService?.availableBrands" [value]="brand" class="with-icons">
            {{ brand.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-table [dataSource]="dataSource" class="campaigns-table" data-cy="campaigns-table">

        <!-- Campaign Status column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="status">
            Status
          </mat-header-cell>
          <mat-cell *matCellDef="let campaign;" class="status">
            <div>
              <div [ngSwitch]="campaign.requestStatus.name">
                <mat-icon *ngSwitchCase="campaignAvailableStatus.DRAFT">{{ campaignAvailableStatusIcons.DRAFT }}</mat-icon>
                <mat-icon *ngSwitchCase="campaignAvailableStatus.TO_REVIEW">{{ campaignAvailableStatusIcons.TO_REVIEW }}</mat-icon>
                <mat-icon *ngSwitchCase="campaignAvailableStatus.TO_MODIFY">{{ campaignAvailableStatusIcons.TO_MODIFY }}</mat-icon>
                <mat-icon *ngSwitchCase="campaignAvailableStatus.SUBMITTED">{{ campaignAvailableStatusIcons.SUBMITTED }}</mat-icon>
                <mat-icon *ngSwitchCase="campaignAvailableStatus.VALIDATED" class="cpt-color-green">{{ campaignAvailableStatusIcons.VALIDATED }}</mat-icon>
                <mat-icon *ngSwitchCase="campaignAvailableStatus.REJECTED" class="cpt-color-warn">{{ campaignAvailableStatusIcons.REJECTED }}</mat-icon>
              </div>
              <div>{{ campaign.requestStatus.value }}</div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Campaign Name column -->
        <ng-container matColumnDef="campaignName">
          <mat-header-cell *matHeaderCellDef class="campaignName">
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let campaign;" class="campaignName">
            <div>{{ campaign.campaignName }}</div>
          </mat-cell>
        </ng-container>

        <!-- Campaign Type column -->
        <ng-container matColumnDef="advice">
          <mat-header-cell *matHeaderCellDef class="advice">
            <div>Type</div>
          </mat-header-cell>
          <mat-cell *matCellDef="let campaign;" class="advice">
            <div [ngClass]="{ 'cpt-bg-color-warn': campaign.advice, 'cpt-bg-color-grey': !campaign.advice }">{{ campaign.advice ? 'Advice' : 'Request' }}</div>
          </mat-cell>
        </ng-container>

        <!-- Campaign Brand column -->
        <ng-container matColumnDef="brand">
          <mat-header-cell *matHeaderCellDef class="brand">
            <div>Brand</div>
          </mat-header-cell>
          <mat-cell *matCellDef="let campaign;" class="brand">
            {{ campaign.brand.name }}
          </mat-cell>
        </ng-container>

        <!-- Campaign Submission date column -->
        <ng-container matColumnDef="submittedDate">
          <mat-header-cell *matHeaderCellDef class="submittedDate">
            <div>Submission</div>
          </mat-header-cell>
          <mat-cell *matCellDef="let campaign;" class="submittedDate">
            {{ (campaign.submittedDate || '') | date:'MMMM d Y' }}
          </mat-cell>
        </ng-container>

        <!-- Campaign Submission date column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
          </mat-header-cell>
          <mat-cell *matCellDef="let campaign;" class="flex-end">
            <button mat-icon-button aria-label="Edit"
                    (click)="goToCampaignUpdate(campaign)"
                    matTooltip="Edit this campaign">
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Header and Row Declaration -->
        <mat-header-row *matHeaderRowDef="displayedColumns" class="campaign">
        </mat-header-row>
        <mat-row *matRowDef="let campaign; columns: displayedColumns;" class="campaign">
        </mat-row>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row matNoDataRow" *matNoDataRow>
          <td class="subscription-cell" *ngIf="dataSource?.data?.length === 0">No campaign.</td>
          <td class="subscription-cell" *ngIf="dataSource?.data?.length !== 0">No campaign matching your filter '{{ campaignService.searchInput }}'.</td>
        </tr>

      </mat-table>

      <mat-paginator @fadeInOutAnimation
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 50]"
                     [showFirstLastButtons]="true"
                     [style.visibility]="dataSource.data.length > 0 ? 'visible' : 'hidden'">
      </mat-paginator>
    </div>
  </div>
</div>
