.form-container {
  .title {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 30px;
  }

  .inputs {
    display: flex;
    flex-direction: column;

    .label {
      margin: 20px 0px 5px;
      font-size: 20px;
    }

    .media {
      display: flex;
    }

    @media screen and (max-width: 699px) {
      .mat-form-field {
        width: 100%;
      }

      .media {
        flex-direction: column;
      }
    }

    @media screen and (min-width: 700px) {
      .mat-form-field {
        width: 70%;
      }

      .media {
        width: 70%;
        flex-wrap: wrap;

        .mat-checkbox {
          flex: 0 0 50%;
        }
      }
    }
  }
}
